<h1><%= t('manage_posts') %></h1>
<%= link_to t('add_new_post'), post_new_path, class: "btn btn-primary" %>
<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th><%= t('post_title') %></th>
			<th><%= t('comment_title') %></th>
			<th><%= t('created_at') %></th>
			<th colspan="3"><%= t('action') %></th>
		</tr>
	</thead>
	<tbody>

		<% count = 0 %>
		<% @posts.each do |post| %>
		<tr>
			<td><%= count = count+1 %></td>
			<td><%= post.title %></td>
			<td><%= post.comments.size %></td>
			<td><%= post.created_at %>
			<td><%= link_to t('update_post'),post_edit_path(:post_id => post.id) %></td>
			<td><%= link_to t('delete_post'),"#" %></td>
		</tr>
		<% end %>
	</tbody>
</table>